.ContadorContainer {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    padding: 13px;
    width: 600px;
    margin: 5px 0px;

    box-sizing: border-box;

    transition: background-color 1s ease;
    transition: border-color 0.25s;
    transition: box-shadow 1s;
}

.botaoIniciar {
    padding: 5px 10px;
    margin-left: 10px;
}

.ContadorContainer .superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContadorContainer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #646cff;
}

.ContadorContainer p,
.ContadorContainer h3 {
    margin: 0;
}

.ativo {
    /* background-color: red; */
    box-shadow: inset 0 -1em 2em rgba(0, 170, 255, 0.9);
}

.ativo .tempo {
    font-size: 19px;
}

.finalizado {
    background-color: black;
    box-shadow: inset 0 -1em 2em rgba(42, 42, 42, 0.9);
}

.tempo {
    font-weight: bolder;
}


.progress-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    /* background-color: #00a6ff; */
    background: linear-gradient(to right, #ffffff, #035fff);
    /* box-shadow: inset 0 -10em 2em rgba(255, 255, 255, 0.5); */
    transition: width 0.3s linear;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .ContadorContainer {
        width: 100%;
    }

    #root {
        width: 90%;
    }
}